#gamePage {
    max-width: 700em;
}

h1 {
    text-align: center;
    font-size:90px;
    font-family: 'Bubbler One', sans-serif;
    margin-top: 0;
    margin-bottom: 8px;   
}

button {
    background-color:#ffff66; 
    color: black;
    font-size: 16px;
    border: 2px solid black;
    padding: 6px;
    box-shadow: 4px 4px 3px #888888;
    border-radius: 10px;
    /*width: auto;
    float: left;*/
  }


button:hover {
    background-color: #ffff00;
    box-shadow: 5px 6px 4px #888888;
}

.buttons {
    text-align: center;
    margin: 10px;
}

.buttons button {
    margin: 14px;
}

#timer {
    width: 120px;
    height: 52px;
    margin: auto;
    text-align: center;
    font-family: Arial, bold;
    font-size: 20px;   
    background-color: grey  ;
    border: 3px solid #9900FF;
    border-radius: 12px; 
    padding: 2.5px;
    color: white;
    padding: 0px;
}


#timer button{
    font-size: 6px;
    color: purple;
    box-shadow: none;
    font-family: Arial, bold;
    border: 1px solid black;
}

#gameboard {
    margin: 0 auto;
    width: 240px;  
    height: 240px;
    overflow: hidden;  
    float: center;
}

.cell {
    font-size: 70px;
    float: left;
    width: 78px;
    height: 78px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'BubblerOne', sans-serif;
}

.row {
    clear: both;
}

.lt, .mt, .rt, .lc, .mc, .rc {border-bottom: solid #222222;}
.lt, .lc, .lb, .mt, .mc, .mb {border-right: solid #222222;}

.x {color: black;}
.o {color: #9900FF;}



.howTo {
    font-family: Verdana;
  }

.buttons ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: -20px;
}

.buttons li {
    padding-bottom: 8px;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #9900FF;
    font-weight: bold;
}

#leaderBoard {
    width: 120px;
    margin: auto;
    margin-bottom: 40px;
    font-family: Arial;
    font-size: 10px;   
    background-color: grey;
    border: 3px solid #9900FF;
    border-radius: 12px; 
    color: white;
    text-align: center;
}

#leaderBoard ul {
    list-style-type: none;
    text-indent: -40px;
}

h2 {
   font-size: 14px;
   padding: 0px;
   margin-bottom: 4px;
}

h3 {
    font-family: arial bolder;
    font-size: 20px;
    max-width: 300px;
    border: dashed 2px #9900FF;
    text-align: center;
    float: center;
}